version: "3.9"

services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: javatpbanque
      POSTGRES_USER: javatpbanque
      POSTGRES_PASSWORD: javatpbanque
    ports:
      - "5432:5432"
    volumes:
      - postgres_data_tp_banque_java:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U app_user -d app_db"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data_tp_banque_java:
